<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just One Villain</title>
</head>
<body>
  <a href="/villains">Home</a>
  <h1>One villain! More than enough mwah ha ha</h1>
  <h2>Villain: <%= villain.villain %></h2>
  <h3>Movie: <%= villain.movie %></h3>
</body>
</html>
