<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All the Villains</title>
</head>
<body>
  <h1>All of our Villains</h1>
  <% for (const villain of villains) { %>
    <a href="/villains/<%= villain.id %>">
      <h2>Villain: <%= villain.villain %></h2>
    </a>
    <h3>Movie: <%= villain.movie %></h3>
  <% } %>
</body>
</html>
